.textBody{
    text-align: center;
    padding: 0 150px;
    margin: 0 auto;
    max-width: 1220px;
}

/* 
@media only screen and (max-width: 768px)
{.textBody{
    padding: 0 0 60px 0 ;
}}
@media only screen and (max-width: 1220px)
{.textBody{
    padding: 0 40px;
}}
@media only screen and (max-width: 600px)
{.textBody {
    padding: 0 20px;
}
} */

.textBody h1{
    padding: 0 10px 10px ;
    font-family: "Soleil_Medium",Helvetica,Arial,sans-serif;
    font-size: 56px;
    line-height: 150%;    
    margin: 0;
}

@media only screen and (max-width: 600px){
    h1{
        /* TODO fix this without using !imp */
        font-size: 36px !important;
        line-height: 40px !important;
    }
}
@media only screen and (max-width: 960px){
    h1{
        font-size: 50px !important;
        line-height: 150% !important;
    }
}

h5{

}

